
.button-bold-text {
    background: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 35px;
    border-style: none;
    color: var(--contrast-color);
    font-size: 20px;
    font-weight: 600;
    padding: 16px 48px;
    display: inline-block;
    white-space: nowrap;  

}

.button-main-text {
    background: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 35px;
    border-style: none;
    color: var(--contrast-color);
    font-size: 20px;
    padding: 16px 48px;
    display: inline-block;
    white-space: nowrap;  
}
.input-text {
    font-size: 14px;
    padding: 16px 48px;
    display: inline-block;
    white-space: nowrap;  
    background: var(--input-color);
    border: 1px solid var(--input-border-color);
    border-radius: 39px;
}
.input-text-area {
    font-size: 14px;
    padding: 16px 48px;
    display: inline-block;
    white-space: nowrap;  
    background: var(--input-color);
    border: 1px solid var(--input-border-color);
 
}