.header-figma {
    background: url(../img/header-background.png);
    background-size: cover;
    background-position: center top;
    min-height: 930px;

}

.header-figma__main {
    padding: 3rem;
}

.header-figma__button {
    padding: 3rem;
    margin-bottom: 5rem;
}

.header-figma__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    color: var(--contrast-color);
}

.header-figma__title-text {
    font-size: 28px;
    line-height: 40px;
    color: var(--contrast-color);
}


@media (min-width: 500px) {

    .header-figma__title {
        font-size: 74px;
        line-height: 84px;
    }

}