.header-figma {
    background: url(../img/header-background.png);
    background-size: cover;
    background-position: center top;
    min-height: 930px;
}

.header-figma__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    flex: 1;
}

.header-figma__menu {
    display: flex;
    flex-direction: column;
}
.header-figma__social {
    display: none;
}

.header-figma__menu-item {
    text-decoration: none;
    font-size: 15px;
    color: var(--contrast-color);
}

.header-figma__main {
    padding: 3rem;
}

.header-figma__button {
    padding: 3rem;
    margin-bottom: 5rem;
}

.header-figma__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    color: var(--contrast-color);
}

.header-figma__title-text {
    font-size: 28px;
    line-height: 40px;
    color: var(--contrast-color);
}

.navigation-burger {
    display: flex;
    align-items: center;
    width: 24px;
    height: 16px;
    position: relative;
    cursor: pointer;
    z-index: 22;
}


.navigation-burger::before {
    background-color: var(--contrast-color);
    position: absolute;
    height: 2px;
    width: 100%;
    content: " ";
    top: 0px;
}

.navigation-burger::after {
    background-color: var(--contrast-color);
    position: absolute;
    height: 2px;
    width: 100%;
    content: " ";
    top: 14px;
}

.navigation-burger span,
.navigation-burger::after,
.navigation-burger::before {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--contrast-color);
    transition: all 0.5s ease-in-out;
}

.navigation-burger span {
    transform: scale(1);
}

.navigation-burger.active span {
    transform: scale(0);
}

.navigation-burger.active::before {
    top: 7px;
    transform: rotate(-225deg);
}

.navigation-burger.active::after {
    top: 7px;
    transform: rotate(225deg);
}
@media (min-width: 500px) {
    .header-figma__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;

      }

    .header-figma__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 0.5;
    }

    .header-figma__logo-container {
        order: 1;
    }

    .header-figma__title {
        font-size: 74px;
        line-height: 84px;
    }
    .header-figma__social {
        display: flex;
        flex-direction: row;
        order: 1;
    }
}    
@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }
}

@media (max-width: 992px) {
    .header-figma__menu {
        position: absolute;
        left: -10000px;
    }
    
    .header-figma__menu.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;

        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--btn-text);
        z-index: 21;
        margin: auto;
    }
    
    .header-figma__menu-item {
        display: flex;
        font-size: 17px;
        margin: 6px 20px;
    }

    .header-figma__menu-item-hover:hover {
        color: var(--accent-color);
        position: relative;
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column-reverse;
        top: 23.5px;
        height: 2px;
        width: 0%;
        content: " ";
        animation-name: underline-items;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        white-space: nowrap;
        margin-bottom: 23.5px;
    }



/*@media (min-width: 992px) {
   
    .header-figma__wrapper {
        position: absolute;
        left: -10000px;
    }

    .header__menu-conteiner {
        position: relative;
        left: 0px;
    }

    .header__menu {
        display: flex;
        margin: 0px -20px;
    }

    .header__menu-item {
        display: flex;
        font-size: 17px;
        margin: 6px 20px;
    }

    .header__menu-item-hover:hover {
        color: var(--subtitle-color);
        position: relative;
    }

    .header__menu-item-underline:hover {
        background-color: var(--subtitle-color);
        display: flex;
        flex-direction: column-reverse;
        top: 23.5px;
        margin-bottom: 23.5px;
        height: 2px;
        width: 0%;
        content: " ";
        animation-name: underline-items;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        white-space: nowrap;
    }

    @keyframes underline-items {
        0% {}

        100% {
            width: 100%;
        }
    }*/
} 