.main-text__title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 2rem;
}


.main-text__text {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 2rem;
}

.main-text__features-item {
    padding: 3.5rem;
}

.main-text h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main-text__features-item p {
    font-size: 18px;
    line-height: 25px;
}

.main-text__image img {
    width: 100%;
    object-fit: contain;
}


.call-to-action__image img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.newsletter__form p {
    font-size: 18px;
    line-height: 25px;
}
.newsletter__image img {
    width: 100%;
    object-fit: contain;
}

@media (min-width: 500px) {
    .main-text__features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 5rem;
        }
    .main-text__features-item {
        max-width: 300px; 
    }
    
    .call-to-action {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        flex: 1;
        padding: 5rem;   
    }
    .call-to-action__item {
        display: grid;
 
text-align: left;
    }
    .call-to-action__item button {
        justify-self: start;
    }
    .newsletter {
        display: grid;
        grid-template-areas:
        "newsletter__image newsletter__image newsletter__title" 
        "newsletter__image newsletter__image newsletter__form" 
        "newsletter__image newsletter__image newsletter__form";
    }
    }
