* {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
}

.header-figma {
    display: flex;
    flex-direction: column;
    background: url(img/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.header-figma__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.header-figma__menu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 10%;
}

.header-figma__menu-item {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
}

.header-figma__main {
    padding: 75px;
}

.header-figma__button {
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-figma__button::after {
    content: "";
    height: 100px;
}

.button-bold-text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 0px;
    width: 236px;
    height: 52px;
    background: #2091F9;
    border-color: #2091F9;
    border-radius: 35px;
    border-style: none;
}

.button-main-text {
    color: #FFFFFF;
    font-size: 20px;
    padding: 16px 0px;
    width: 236px;
    height: 52px;
    background: #2091F9;
    border-color: #2091F9;
    border-radius: 35px;
    border-style: none;
}

.header-figma__title {
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.header-figma__title-text {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.main-text__title {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
}

.main-text__text {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
}

.main-text__features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 0 auto;
    padding: 5% 10%;
}

.main-text__features-item {
    max-width: 235px;
    text-align: center;
}

.main-text__features-item h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.main-text__features-item p {
    font-size: 18px;
    line-height: 25px;
}

.main-text__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5% 10%;
}

.main-text__image img {
    width: 100%;
    object-fit: contain;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5% 10%;
}

.call-to-action__title {
    text-align: left;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.call-to-action__text {
    text-align: left;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.call-to-action__item {
    max-width: 400px;
    gap: 10%;
}

.call-to-action__image img {
    width: 100%;
    object-fit: contain;
    padding: 5%;
}